/****** general styles ******/
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: tomato;
  text-align: center;
  font-family: 'lato', sans-serif;
}

/****** layout styles ******/
header {
  width: 75vw;
  margin: 25px auto;
  background: blue;
}
main {
  width: 75vw;
  margin: 25px auto;
  background-color: yellow;
  display: flow-root;
}
.col {
  width: 50;
  background-color: red;
  float: left;
}

/****** layout styles ******/
h1 {
  font-size: 4rem;
  text-align: left;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  text-align: left;
  font-family: 'Space Mono', monospace;
}
