body {
  background: hotpink;
  width: 100vh;
  height: 100vh;
}
.primary {
  width: 350px;
  height: 350px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  margin:auto;
}
.shape-1 {
  width: 80px;
  height: 200px;
  background-color: deeppink;
  position: absolute;
  top: 30%;
  left: 30%
}
.main-1 {
  position:absolute;
height: 30px;
  border-bottom: 90px solid hotpink;
  border-left: 90px solid hotpink;
}
