/****** general styles ******/
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: lightpink;
  font-family: cursive;
}

/****** layout styles ******/
header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
}

/****** layout styles ******/
h1 {
  font-size: 4rem;
  text-align: left;
  font-family:  monospace;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  text-align: left;
  font-family: monospace;
}
/****** image styles ******/
img {
  max-width: 100%;
}

/****** media requires ******/
@media screen and (max-width: 900px) {
  .col {
    width: 100%;
    margin-bottom: 50px
}
header {
width: 90vw;
}
main {
width:90vw;
}
h1 {
font-size: 3rem;
}
