body {
  background: hotpink;
  width: 100vh;
  height: 100vh;
}

.lightiny-container {
  position: absolute;
  left: 50%;
  top: 50%;

.handle {
  position: relative;
  height: 260px;
  width: 50px;
  background-color: hotpink;
}


.handle:after {
  position: absolute;
  left: 168.5%;
  top: -31.5%;
  width: 3px;
  height: 5px;
  transform: rotate(47deg);
}

.lightiny {
  position: relative;
  left: 50%;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 75px;
}


.lightiny::before {
  top: 160%;
  left: 34%;
  height: 0;
  width: 30px;
}
