body {
  margin: 0;
  background-color: gold;
}
header, footer; {
  width: 50vw;
  height: 100px;
  background-color: dodgerblue;
  margin: 50px auto;
}
main {
  width: 50vw;
  margin: 50px auto;
  display: flow-root;
}
.col {
  width: 45%;
  height: 400px;
  background-color: dodgerblue;
  float: left;
}
.rMargin {
  margin-left: 10%;
}
