* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 132vw;
  margin: -50px -15vw;
}
#p1 .shape1 {
  background-color: Magenta;
  width: 100px;
  height: 100px;
  margin: -15px;
  opacity: .5;
  border-radius: 50;
}
#p1 .shape2 {
  background-color: blue;
  width: 50px;
  height: 100px;
  margin: -15px -.7px;
  opacity: .5;
  transform: rotate(20deg);
  border: 5 solid black;
}
#p1 .shape1 {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: -15px;
  opacity: .5;
  border-radius: 50;
}
div {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  border: 10px solid Hotpink;
  margin: -15px;
  opacity: .75;
  float: left;
}
.cSquare {
  width: 100px;
  height: 100px;
  background-color: Magenta;
  border: 10px solid Hotpink;
  margin: -15px;
  opacity: .75;
  float: left;
  border-radius: 50%;
}
.ySquare {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 10px solid Hotpink;
  margin: -15px;
  opacity: .75;
  float: left;
  border-radius: 500%;
}
