.p1 div {
  width: 90px;
  height: 90px;
  background-color: magenta;
  float: left;
  margin: -10px;
  opacity: .5;
  border-right: 80px solid aqua;
}
.shape1 {
  width: 90px;
  height: 90px;
  background-color: green;
  border-radius: 50%;
  float:left;
}
.shape2 {
  width: 100px;
  height: 90px;
  background-color: red;
  float: left;
  margin:
}
